<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Content Store</title>
</head>

<body>
    <div class="wrapper">
        <div class="left">
            <div class="nav">
                <a href="#" class="active"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-archive" aria-hidden="true"></i></i></a>
            </div>
        </div>
        <div class="right">
            <div class="rightTop">
                <div class="brandLogo">
                    <img src="image/logo.png" alt="brandLogo">
                </div>
                <div class="notification">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <span>699</span>
                </div>
                <div class="profile">
                    <p>AB</p>
                </div>
            </div>
            <div class="rightMiddle">
                <div id="app">

                </div>
            </div>
            <div class="rightBottom">
                <div class="social">
                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div class="rights">
                    Copyright @ 2019 White Panda Media Pvt. Ltd.
                    </br>
                    All rights reserved
                </div>
                <div class="footerLink">
                    <a href="#" class="link">Privacy policy</a>
                    <a href="#" class="link">Terms of service</a>
                    <a href="#" class="link">Service Agreement</a>
                    <a href="#" class="link">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/default.bundle.js"></script>

</html>